.text-container{
    margin: 0 18%;
}

.textform-textarea{
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    line-height: 2;
}

.text-container h1{
    font-weight: 500;
    font-size: 40px;
}

.op-container{
    display: flex;
    flex-wrap: wrap;
}

.op-container button{
    margin: 15px 10px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 140, 255, 0.76);
    border-radius: 5px;
    border: 0px solid transparent;
    font-size: 18px;
}

.op-container button:hover{
    background-color: rgb(0, 140, 255);
    cursor:pointer;
}

.text-Light{
    color: black;
}

.text-Dark{
    color:white;
}

.textarea-Light{
    color: black;
    background-color: white;
}

.textarea-Dark{
    color:white;
    background-color: rgba(0, 0, 0, 0.705);;
}